
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

*{
    margin: 0 auto;
    padding: 0 auto;
}
body {
    font-family: 'Roboto';
    overflow-x: hidden;
}
.nav {
    display: flex;
    /* padding: 80px;
    padding: 1% 4%; */
}
.containar {
    max-width: 100%;
    padding: 0 60px;
}
.main{
       
        background-color: #716d6d47;
    }

.nav-title {
 color: black;
 font-weight: 800;

}
.menu li {
    margin-left: 150px;
}
.menu li a {
    color: black;
   
}
.ul-item li a{
    color: black;
    margin-left: 40px;
    justify-content: space-between;
}
.Search{
    max-width: 100%;
    width: 300px;
}
.brand img {
    display: block;
    width: 100%;
    max-height: 70;
}
.div.nav {
    box-sizing: border-box;
}
.nav {
    height: 106px;
}



/* in_Navbar */
.main-nav{
    max-width: 1380px;

}
.logo-div {

    width: 20.15%;
}
.logo-padding {
    padding: 10px;
}
.logo-alnigment{
    align-content: center;
    align-items: center;
    width: 100%;
}
.logo-link {
    display: block;
    width: 200px;
}
.logo-link img {
    display: inline-block;
    max-width: 100%;
}
.divide-meanu {
    display: flex;
    width: 79.85%;
}
.main-menu.bar {
    padding: 10px;
    align-content: center;
    align-items: center;
}

 /* menu.html */
 .x-box {
     padding: 100px 50px 55px 50px;
 }
 .button li {
     padding:  10px 40px;
 }
 .button{
	color: #ffffff;
    font-weight: 200;
    /* letter-spacing: 2px; */
    border-radius: 50px;
	background: #a32cdb;
	padding: 7px 40px; 
	font-size: 14px;
	 
 }
  .big-banner {
      background-image: url('https://picsum.photos/800?random=1');
      height: 800px;
      padding-top: 150px;
      max-width: 100%;
      position: relative;
      background-size: cover;
      background-position: center;
  }
   .info {
      margin-top: 2%;
      transform: translate(-2%);
  }
    .info h1 {
    margin: 0 0 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    font-size: 80px;
    line-height: 120px;
  }
    .info p {
    color: rgb(255, 255, 255);
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 30px;
}
 .info a i {
    margin-right: 10px;
}
 .info a {
    margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 25px;
	background: #a32cdb;
	padding:10px 20px; 
	font-size: 16px;
}
.span {
    
    font-family: 'Playfair Display', serif;
    font-size: 90px;
    line-height: 30px;
    margin-bottom: -20px;
    margin-right: 20px;
}

.p-sapn {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 60px;
    font-weight: 400;
    font-style: normal;
}
.text {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    text-align: justify;
    line-height: 60px;
    font-weight: 400;
    font-style: normal;
    padding-top: 50px ;
    margin-top: 50px;
}
.text-header {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: bold ;
    letter-spacing: 4px;
}
.intro {

}
.x-box img {
    width: 30px;
    height: 16px;
    margin-bottom: 10px;
    padding-bottom: 5px;

}
.x-box {
    padding: 50px 50px 55px 50px;
}
.p-div{
    margin: 0px auto;
}
/* .quot{
    font-size: 25px;
} */
.bg-style {
    border-radius:  50%;
    height: 51px;
    width: 51px;
    position: relative;
    top: 4px;
    float: left;
    margin-right: 10px;
    padding: 0;
    line-height: 52px;
    color: #a0ce4e;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #fff ;

}
.p-text {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
}
.outlined-button{
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.outlined-button :hover {
    background-color:  #5a0b7e;
      color:#fff;
}
.bg-purpule
{
    background-color:  #a32cdb;
}
.other-banner{
    background-image: url("https://picsum.photos/800?random=2");
    height: 800px;
    padding-top: 150px;
    max-width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.other-banner .info3 a {
    text-align: center;
    font-size: 18px;
    display: block;
    overflow: hidden;
    position: relative;
   
    max-width: 100%;
}
.other-banner .info3 a img {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    max-width: 100%;
    height: auto;
}
.other-banner .info3 h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 18px;
    line-height: 70px;
    letter-spacing: 0px;
    font-size: 60px;
    font-style: normal;
}

.other-banner .info3 p {
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.other-banner .info3 .watch-me {
    margin-left:50%;
	transform: translateX(-50%);
	color: #474545;
    
    letter-spacing: 2px;
    border-radius: 25px;
	background: #ffffff;
	padding:13px 29px; 
	font-size: 14px;
	
}
.other-banner .info3 .watch-me i {
    margin-right: 10px;   
}
.cta {
    letter-spacing: 2px;
    padding: 10px 31px;
    font-size: 14px;
    cursor: pointer;
    transition: ease;
}
.cta:hover {
    background-color: #9000cc;
}
.cta2 {
    background-color: #ffffff;
    letter-spacing: 2px;
    padding: 10px 31px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    transition: ease;
}
.bg-white{
    background-color: #ffffff;
}
.div-image {
    position: relative;
    justify-items: center;
    padding-left: 50% ;
    margin-top: 5px;
    margin-bottom: 30px;
}
.div-text h1 {
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 18px;
    line-height: 70px;
    letter-spacing: 0px;
    font-size: 60px;
    font-style: normal;
}
.div-text p{
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
/* .head-part{
    display: flex;
    flex-direction:column;
    margin-bottom: 25px;
} */
 .downward-arrow {
    font-size: 80px;
    visibility: visible;
    animation-duration: 0.6s;;
}

.badge-st{
    
    padding-bottom: 10px;
    
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    color:  rgb(200, 104, 242);
    background-color: #ffffff;
    border: 1px solid #9000cc;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: ease
}
.h-text {
    /* text-align: center; */
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    transition: ease;
}
.badge-st:hover{
    border-color: #388cda;
}
.h-text:hover{
    color: #388cda;
}
.no-more {
    align-items: center;
    font-size: 30px;
    color: rgb(200, 104, 242);
    visibility: visible;
    animation-duration: 0.5s;
    padding: 0px 8px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}
.badge-st i{
    font-size: 50px;
    line-height: 100px;
}
.ul-item li {
    text-decoration: none;
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}
.hr-dive{
clear: both;
    display: block;
    height: 1px;
    font-size: 0;
    line-height: 0;
    width: 100%;
    max-width: 60%;
    margin: 0 auto 20px auto;
    overflow: hidden;
}
.sr-btn{
    margin: 60px auto;
    padding: 10px 25px;
    letter-spacing: 2px;
    line-height: 17px;
    font-size: 14px;
}
.scroll-top{
    width: 45px;
    height: 30px;
    right: 75px;
    position: fixed;
    left: auto;
    align-items: center;
    justify-content: center;
    bottom: 0; 
    background-color: #333;
    cursor: pointer;
    pointer-events: none;
    text-decoration: none;
    opacity: 0;
    transition: all .4s;
}
.scroll-top i {
    text-align: center;
    font-size: 20px;
}
.scroll-top:hover{
    background-color: #a32cdb;
}
.scroll-top.active {
    pointer-events: auto;
    opacity: 1;
}

    /* About Page Style Start Here */

.banner {
    background-image: url('https://picsum.photos/800?random=3');
    height: 800px;
    padding-top: 150px;
    max-width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    }
    
    .bg-color{
        background-color: rgba(50,54,67,0.6);
        color: #ffffff;  
    }
    .navbar-toggler{
       
        color: #000000;
    }
   

    @media screen and (min-width: 480px) {
        .navbar {
            background-color:  rgba(0, 0, 0, 0.671);
        }
        .navbar-nav a {
            margin: 0px 5px 0 17px;
            color: #000000 ;
        }
    }
    .h1-text{
        font-size: 70.769px;
        line-height: 84.923px;
    }
    .caption {
        height: auto;
        color: #fff;
        font-size: 19px;
        line-height: 22.8px;
    }
    .banner .btn {
        letter-spacing: 2px;
        padding: 13px 29px; 
        font-size: 14px;
    } 
    .img-section {
        width: 663px;
        height: 881px;
    }
    .img-section img {
        max-width: 100;
    }
    
    .info1 h1{
         font-family: 'Roboto';
        font-weight: 500;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 18px;
        line-height: 70px;
        letter-spacing: 0px;
        font-size: 60px;
        font-style: normal;
    }

    .data-bg-image {
    background-image: url("https://picsum.photos/800?random=4");
    height: 1200px;
    background-size: cover;
    background-position: center;
    }
    .data-bg-image h1 {
        font-family: 'Roboto';
        font-size: 60px;
        font-weight: 500;
        line-height: 70px;
        letter-spacing: 0px;
        font-style: normal;
    }
    .data-bg-image{
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 30px;
    }
    .em-image{
        max-width: 100%;
        height: 300px;
    }
    .em-name{
        font-size: 18px;
        font-family: 'Roboto';
        font-weight: bold;
    }
    .work {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
    }
    .work h1 {
        color: #333;
        font-family: 'Roboto';
        font-weight: 500;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 18px;
        line-height: 70px;
        letter-spacing: 0px;
        font-size: 60px;
        font-style: normal;
    } 
    .our-products{
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 100px;
    }
    .color-img {
        background-image: url("https://picsum.photos/800?random=5");
        height: 800px;
        max-width: 100%;
        margin-bottom: 0;
        background-size: cover;
        background-position: center;
    }
/* service style  */
.service-banner {
    background-image: url('https://picsum.photos/800?random=6'); 
    height: 800px;
    padding-top: 150px;
    max-width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
.banner2{
    background-image: url('https://picsum.photos/800?random=7');
    min-height: 894px;
    height: auto;
    padding:0;
    max-width: 100%;
    position: relative;
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
}
.service-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
}
.banner3 {
    background-image: url('https://picsum.photos/800?random=8'); 
    height: 800px;
    padding-top: 150px;
    max-width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
 .teams{
     background-color: rgb(0, 0, 0);
     justify-content: center;
     width: 800px;
     right: 100px;
     height: 300px;
 }
 .teams .em-img{
     vertical-align: top;
     top: 0;
     padding-top: 0;
     margin-top:0 ;
     margin-bottom: 30px;
     width: 150px;
     height: 150px
 }
.teams .em-img img {
    max-width: 100%;
    border-radius: 50%;
}


/* work style start here */
.work-banner{
    background-image: url('https://picsum.photos/800?random=9'); 
    height: 800px;
    padding-top: 120px;
    /* max-width: 100%; */
    position: relative;
    background-size: cover;
    background-position: center;
}
 /* video style start here  */
 .video-banner {
    background-image: url('https://picsum.photos/800?random=10'); 
    height: 800px;
    padding-top: 120px;
    /* max-width: 100%; */
    position: relative;
    background-size: cover;
    background-position: center;
 }
 /* contact style start here  */
 .contact-banner {
    background-image: url('https://picsum.photos/800?random=11'); 
    height: 800px;
    padding-top: 120px;
    /* max-width: 100%; */
    position: relative;
    background-size: cover;
    background-position: center;
 } 
.ripple{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #fcfc9c; */
}

 .badge-cu {
    position: relative;
    width: 84px;
    height: 84px;
    color: #fff;
    background-color: #ab00f2;
    border-radius: 50%;
    /* box-shadow: 0 0 20px rgba(255, 255, 255, .7); */
    font-size: 48px;
    cursor: pointer;
    outline: none;
    border: none;
}

.badge-cu::before, .badge-cu::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .5);
/*     transform-origin: center; */
    box-sizing: border-box;
    z-index: -1;
}

/* .badge-cu::after {
    transition-delay: 2s;
} */

.badge-cu:hover::before, .badge-cu:hover::after {
    border-color: transparent;
    filter:blur(2px);
}

.badge-cu:hover::before {
    transform: scale(4);
    transition: 1s transform ease, 2s blur ease, .8s border-color ease;
}

/* .badge-cu:hover::after {
    transform: scale(3);
    transition: 1s transform ease, 2s blur ease, .8s border-color ease;
} */
 
 /* Articles style start here */
 .Articles-banner {
    background-image: url('https://picsum.photos/800?random=12'); 
    height: 800px;
    padding-top: 200px;
    /* max-width: 100%; */
    position: relative;
    background-size: cover;
    background-position: center;
 }
 .ao-banner{
    background-image: url('https://picsum.photos/800?random=13'); 
    background-color: #303745;
    height: 800px;
    padding-top: 200px;
    /* max-width: 100%; */
    position: relative;
    background-repeat: no-repeat;
    padding: 100px 50px;
    background-size: cover;
    background-position: center;
 }
 .ao-banner a{
     text-decoration: none;
 }
 .ao-banner a:hover{
     color: #9000cc;
 }
 .vr-line-black{
    padding-right: 5px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.884);
 }
 .color-purple {
     font-size: 30px;
     font-weight: 600;
     color: #ab00f2;

 }
 .text-purple {
     color:#ab00f2;
 }

 
.llatest-Art .owl-carousel {
    left: 0;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    height: 600px;
}

/* .item{
    width: auto;

    height: 750px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.5);
} */

.latest-Art .slide-1 {
    background-color: rgba(0, 0, 0, );
    max-width: 100%;
    height:600px;
    opacity: 1;
    background-repeat: no-repeat;
}
.latest-Art .slide-1 img {
    max-width: 100%;
}
.latest-Art .slide-content {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    
}
.latest-Art.slide-content h5{
    z-index: 20;
    white-space: nowrap;
    font-size: 13px;
    line-height: 26px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Montserrat';
    /* border-color: rgb(109, 162, 248); */
    /* border-style: solid; */
    border-width: 0px 0px 2px;
    visibility: inherit;
    transition: none 0s ease 0s;
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);   */
    transform-origin: 50% 50% 0px;
}
.latest-Art .slide-content h3 {
    z-index: 6;
    min-width: 450px;
    max-width: 450px;
    white-space: normal;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto';
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: left;
    line-height: 60px;
    border-width: 0px;
    margin: 0px;
    padding: 0px 0px 10px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 40px;
    min-height: 0px;
    max-height: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.latest-Art .slide-content p {
    z-index: 9;
    min-width: 601px;
    max-width: 601px;
    white-space: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: left;
    line-height: 30px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 400;
    min-height: 108px;
    max-height: 108px;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.latest-Art .slide-content a {
    z-index: 8;
    white-space: nowrap;
    color: rgb(31, 31, 39);
    font-family: Montserrat;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 0px none;
    cursor: pointer;
    text-decoration: none;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: left;
    line-height: 17px;
    margin: 0px;
    padding: 17px 40px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}
.latest-Art .slide-1 a:hover{
    color: #fff;
    background-color: #2a4eec;
}
.latest-Art .slide-content h6{
    z-index: 7;
    min-width: 450px;
    max-width: 450px;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 300;
    color: rgba(250, 246, 246, 0.884);
    letter-spacing: 2px;
    text-transform: uppercase;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: left;
    line-height: 30px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    max-height: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}


.latest-Art .owl-dots {
    width: 70%;
    text-align: center;
    position: absolute;
    bottom: 3%;
}

.latest-Art .owl-dots span {
    width: 20px !important;
    height: 20px !important;
}

.latest-Art .owl-dots button {
    border: none !important;
    outline: none !important;
}

.latest-Art .owl-nav button {
   bottom: 3%;
   color: #ffffff;
   background-color: #000000;
}

.latest-Art .owl-prev{
    cursor: pointer;
    background: #000000;
    background: rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    top: 100%;
    transform: matrix(1, 0, 0, 1, -255, -90);
    left: 100%;
    z-index: 1000;

}
.latest-Art .owl-next {
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.1);;
    background: rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    /* font-siz */
    position: absolute;
    display: block;
    top: 100%;
    transform: matrix(1, 0, 0, 1, -205, -90);
    left: 100%;
    z-index: 1000;
}

.latest-Art .owl-prev::before {
    content: '';
    font-family: 'Roboto';
    font-size: 30px;
    color: #fff;
    display: block;
    line-height: 40px;
    text-align: center;
}

.latest-Art .owl-next::before {
    content: '';
    font-family: 'Roboto';
    font-size: 30px;
    color: #fff;
    display: block;
    line-height: 40px;
    text-align: center;
}
 
 /* footer style here */
    footer{
    border-top: 1px solid #4b4c4d;
    background: #282a2b;
    }
    .footer-style  {
        color: #ffffff;
        padding-top: 30px;
        font-size: 16px;
        justify-content: baseline;
        position: relative;
        padding-bottom: 16px;
        padding-right: 10px;
        padding-left: 10px;

    }
    .footer-style ul li {
        text-decoration: none;
        display: inline-block;
        justify-content: space-between;
    }
    .copyright {

        margin-right: 10px;
        font-size: 14px;
        justify-content: left;
    }
    .vr-line{
        padding-right: 5px;
        padding-left: 5px;
        color: rgba(250, 246, 246, 0.884);
    }
    .social {
        vertical-align: middle;
        width: 40%;
        justify-content: right;
        text-align: right;
    }
    @media only screen and (max-width: 480px) {
        .copyright{
            text-align: center;
        }
        
        .social-button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
    }


    .baage-style {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 40px;
        width: 40px;
        margin:  0px 5px 10px;
        color: #ab00f2;
        background-color: #ffffff;
        border-radius: 50%;
    }
    .baage-style i{
        font-size: 18px;
    }
   